.particles-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100svh;
  z-index: 1;
  pointer-events: none;
  overflow: hidden;
}

.particle {
  position: absolute;
  background-color: rgba(0, 110, 254, 0.64);
  border-radius: 50%;
  width: 5px;
  height: 5px;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: linear-gradient(to right, #3b82f6, #8b5cf6, #ec4899);
  transform-origin: 0%;
  z-index: 100000;
}

