DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiNTVlMGVkM2YtNWI5MC00ZGVmLWFjNTQtMzEyM2M4NjNjYjU2IiwidGVuYW50X2lkIjoiODdhYzc3NzhmZWUyZmIxMTQwM2Y4NmYxOTk0MWRmZWQyMDA3YjEzYjYwZGYwNzNkOGFjZjUxMjM0NjFjMThmZSIsImludGVybmFsX3NlY3JldCI6Ijk2MGQwZDc4LTkyMDgtNDJjYi1iZDVjLWNkYmUwMThhOGYzMiJ9._GLke40pnW9RHILsHRjDLxRrkk5KSxIxtRgcC5F5b3w"
OPENAI_API_KEY=
